<?xml version="1.0"?>
<!-- Modular Hunter2 Robot Description -->
<robot name="hunter2" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include Gazebo plugins -->
  <xacro:include filename="$(find hunter2_base)/urdf/hunter2.gazebo"/>

  <!-- Include modular components -->
  <xacro:include filename="$(find hunter2_base)/urdf/base_link.xacro"/>
  <xacro:include filename="$(find hunter2_base)/urdf/box_link.xacro"/>
  <xacro:include filename="$(find hunter2_base)/urdf/rear_box_link.xacro"/>
  <xacro:include filename="$(find hunter2_base)/urdf/front_wheels.xacro"/>
  <xacro:include filename="$(find hunter2_base)/urdf/rear_wheels.xacro"/>

</robot>
